## Import Libraries

In [1]:
import sys
sys.path.append('../')
from src.set_functions import concat_csv

## Merging data

In [2]:
dataset = concat_csv()
dataset.head(3) # muestra de las primeras 3 lineas del dataset

,id,typeId,subtypeId,date,advertiser,descriptions,region,province,city,zipcode,latitude,longitude,rooms,bathrooms,surface,energy_certificate,antiquity,floor,surfaceland,price
0,162758656,2,1,2022-02-24T20:14:25.657,NOVACASA ALBACETE INMOBILIARIA,{'es-ES': 'NovaCasa VENDE Piso de 5 Dormitorio...,Castilla-La Mancha,Albacete,Albacete Capital,2004,38.98808,-1.866541,5,2,140,7,6,0,0,135000.0
1,162463749,2,1,2022-01-31T08:06:16.413,Haya Real Estate,"{'es-ES': 'Edificio de 4 plantas, con fachada ...",Castilla-La Mancha,Albacete,Albacete Capital,2005,39.00204,-1.861962,3,2,1,7,0,9,0,77328.0
2,162594835,2,6,2022-02-09T20:13:11.457,CAMPO INMOBILIARIA,{'es-ES': 'REF.-20263 CAMPO INMOBILIARIA vende...,Castilla-La Mancha,Albacete,Albacete Capital,2006,38.98234,-1.874801,3,2,80,7,0,8,0,175000.0

In [3]:
dataset.shape

(228116, 20)