## Import Libraries

In [1]:
import sys
sys.path.append('../')
from src.set_functions import *

## Load data

In [2]:
dataset = concat_csv()
dataset.head(2)

,id,typeId,subtypeId,date,advertiser,descriptions,region,province,city,zipcode,latitude,longitude,rooms,bathrooms,surface,energy_certificate,antiquity,floor,surfaceland,price
0,162758656,2,1,2022-02-24T20:14:25.657,NOVACASA ALBACETE INMOBILIARIA,{'es-ES': 'NovaCasa VENDE Piso de 5 Dormitorio...,Castilla-La Mancha,Albacete,Albacete Capital,2004,38.99,-1.87,5,2,140,7,6,0,0,135000.00
1,162463749,2,1,2022-01-31T08:06:16.413,Haya Real Estate,"{'es-ES': 'Edificio de 4 plantas, con fachada ...",Castilla-La Mancha,Albacete,Albacete Capital,2005,39.00,-1.86,3,2,1,7,0,9,0,77328.00

In [3]:
dataset.shape

(228116, 20)

## Cleaning data

In [4]:
df = cleaning_data(dataset)

La limpieza del dataset ha sido completada
El dataset tiene 149248 registros y 20 columnas

In [5]:
df.head(2)

,id,subtypeId,date,advertiser,descriptions,region,province,city,zipcode,latitude,longitude,rooms,bathrooms,surface,energy_certificate,antiquity,floor,surfaceland,price,€/m2
0,162758656,Piso,2022-02-24,NOVACASA ALBACETE INMOBILIARIA,NovaCasa VENDE Piso de 5 Dormitorios con Ascen...,Castilla-La Mancha,Albacete,Albacete Capital,2004,38.99,-1.87,5,2,140,7,6,0,0,135000,964.29
2,162594835,Atico,2022-02-09,CAMPO INMOBILIARIA,REF.-20263 CAMPO INMOBILIARIA vende precioso A...,Castilla-La Mancha,Albacete,Albacete Capital,2006,38.98,-1.87,3,2,80,7,0,8,0,175000,2187.50