In [7]:
import pandas as pd
import requests
import ast
from tqdm import tqdm
pd.set_option('display.max_columns', None)
# import pyjsonviewer
import numpy as np

In [8]:
data_ids = pd.read_csv('../Data/get_ids.csv')
data_ids

,provincias,ids,n_ids
0,a_coruña,"[161546243, 162201603, 141361161, 159875082, 1...",9854
1,albacete,"[162758656, 137560069, 162463749, 162594835, 1...",5532
2,alicante,"[156270597, 156270601, 156270607, 162201619, 1...",9817
3,almería,"[161677312, 160661509, 162463751, 162267145, 1...",9883
4,araba_-_álava,"[158334980, 163037205, 162562071, 160104471, 1...",2196
5,asturias,"[160694279, 158498827, 162332686, 160235535, 1...",9933
6,ávila,"[161996801, 161193987, 160882693, 159154181, 1...",2625
7,badajoz,"[158171137, 157384713, 148439057, 157384728, 1...",6140
8,barcelona,"[162988032, 161972225, 163053572, 162988038, 1...",9982
9,bizkaia,"[160759811, 160333835, 162398220, 162365456, 1...",9294
10,burgos,"[162136066, 152797201, 159252498, 159154195, 1...",6486
11,cáceres,"[162480131, 160022531, 160022537, 160022538, 1...",4491
12,cádiz,"[155418624, 162299908, 131235851, 162365469, 1...",9866
13,cantabria,"[148439040, 161677314, 162463747, 162463748, 1...",9956
14,castellón,"[159678464, 162463754, 162627597, 159154194, 1...",9743
15,ceuta,"[159276036, 158023174, 162667528, 161019914, 1...",240
16,ciudad_real,"[160759809, 160759810, 160956419, 160759812, 1...",8407
17,córdoba,"[157614081, 156106753, 160727045, 162398216, 1...",9975
18,cuenca,"[162480134, 162930700, 161775634, 155164701, 1...",2123
19,gipuzkoa,"[161374211, 160612356, 162496519, 161751048, 1...",3686
20,girona,"[151420932, 152141830, 162824199, 141918219, 1...",9817
21,granada,"[163020809, 163020810, 162234379, 162136075, 1...",9987
22,guadalajara,"[161595395, 156278790, 162234380, 159932428, 1...",2984
23,huelva,"[162471936, 159752194, 162996228, 162545675, 1...",4750
24,huesca,"[162627584, 160620567, 156794913, 150372385, 1...",1763
25,illes_balears,"[161349632, 154566658, 159350791, 153878535, 1...",9957
26,jaén,"[159285253, 156368917, 161251351, 162562073, 1...",7740
27,la_rioja,"[162562054, 150208524, 147849229, 161513492, 1...",7000
28,las_palmas,"[156991488, 160825346, 162430992, 162234385, 1...",7542
29,león,"[161218562, 161218568, 161218569, 161218571, 1...",7432
30,lleida,"[159154190, 161742863, 158138388, 162398228, 1...",7239
31,lugo,"[155738112, 160800769, 155484162, 161701892, 1...",3650
32,madrid,"[163053570, 162496520, 162922505, 162922509, 1...",10002
33,málaga,"[161677313, 162758661, 162758662, 155779082, 1...",9965
34,melilla,"[155453440, 159776770, 153491468, 158427149, 1...",328
35,murcia,"[158826498, 160923653, 160923657, 160923661, 1...",9862
36,navarra,"[159686658, 162586626, 159686661, 159686662, 1...",3267
37,ourense,"[162365466, 160497710, 157155385, 162201664, 1...",5760
38,palencia,"[159760391, 142336008, 154640396, 160784397, 1...",2651
39,pontevedra,"[161546242, 161939460, 162365445, 160071697, 1...",9917
40,salamanca,"[160956427, 157188108, 147750926, 158629902, 1...",6273
41,santa_cruz_de_tenerife,"[163020805, 157384714, 162693136, 160727061, 1...",9972
42,segovia,"[156475396, 162758671, 157466640, 162037778, 1...",2775
43,sevilla,"[161775617, 162463746, 162463745, 162070533, 1...",9856
44,soria,"[154890244, 157085701, 160763910, 162564104, 1...",450
45,tarragona,"[162201604, 159186950, 161513498, 156631075, 1...",9865
46,teruel,"[161992707, 156233740, 160032783, 162652177, 1...",1110
47,toledo,"[161611776, 162725890, 155287559, 161841165, 1...",9677
48,valencia,"[161021954, 157122562, 159711237, 162856965, 1...",9836
49,valladolid,"[162766849, 154746881, 152428548, 161890309, 1...",4806
50,zamora,"[157655046, 156893191, 159793162, 162562063, 1...",2123
51,zaragoza,"[163020807, 162562057, 161579019, 163020812, 1...",5455

In [9]:
data_ids['ids'] = data_ids['ids'].apply(lambda list: ast.literal_eval(list))

In [10]:
#prueba

prueba_lista = data_ids['ids'][18]
len(prueba_lista)

2123

In [16]:
o = prueba_lista[97]

In [17]:
url = f'https://api.fotocasa.es/PropertySearch/Property?culture=es-ES&locale=es-ES&transactionType=1&periodicityId=0&id={o}'
response = requests.get(url)
data = response.json()

In [18]:
data.keys()

dict_keys(['id', 'promotionId', 'typeId', 'subtypeId', 'isExternalContact', 'externalContactUrl', 'isInvalid', 'isNew', 'advertiser', 'detail', 'multimedias', 'descriptions', 'features', 'featuresList', 'otherFeatures', 'transactions', 'address', 'products', 'contracts', 'highlight', 'date', 'propertyEnergyCertificate', 'underAveragePriceProductValue', 'energyCertificateDownload', 'energyCertificate', 'touristOfficeCode', 'originId', 'wasId', 'bookings', 'alterDate', 'rentReferenceIndexDto', 'hasVgo', 'realEstateAdId', 'hrefLang'])

In [ ]:
#id
data['id']

In [ ]:
#tipo de vivienda
int(data['typeId'])  # if int(data['typeId']) == 2:

In [19]:
# subtipo de vivienda
data['featuresList']

[{'id': 6, 'label': 'antiquity', 'value': '30 a 50 años'},
 {'id': 6, 'label': 'floor', 'value': '1ª planta'},
 {'id': 0, 'label': 'parking', 'value': 2},
 {'id': 0, 'label': 'elevator', 'value': 1}]

In [ ]:
# name inmobiliaria
str(data['advertiser']['alias'])

In [ ]:
# descripción
data['descriptions']

In [ ]:
# Características
int(data['features'][0]['rooms'])#habitaciones
int(data['features'][1]['bathrooms']) #baños
int(data['features'][2]['surface'])# superficie
int(data['energyCertificate']) # calidad energetica
int(data['features'][8]['antiquity'])# antiguedad
int(data['features'][9]['floor']) #piso
int(data['features'][10]['surfaceLand']) # superficie terreno

In [ ]:
# address
data['address']['location']['level1']
data['address']['location']['level2']
data['address']['location']['level5']
float(data['address']['coordinates']['latitude'])
float(data['address']['coordinates']['longitude'])
int(data['address']['zipCode'])

In [ ]:
# valor vivienda €
data['transactions']

In [ ]:
# Fecha
data['date']

In [ ]:
frame = {'id': [],'typeId':[],'subtypeId': [],'date': [], 'advertiser': [],'descriptions': [], 
         'region': [],'province':[],'city': [],'zipcode': [],'latitude': [], 'longitude': [],
         'rooms': [], 'bathrooms': [],'surface':[],'energy_certificate': [],'antiquity': [],
         'floor': [], 'surfaceland': [], 'price': []}

for index in range(data_ids.shape[0]):
    ids_prov = (data_ids.iloc[index, 1])

    for i in tqdm(ids_prov):
        try:
            url = f'https://api.fotocasa.es/PropertySearch/Property?culture=es-ES&locale=es-ES&transactionType=1&periodicityId=0&id={i}'
            response = requests.get(url)
            data = response.json()
            if int(data['typeId']) == 2: 
                frame['id'].append(data['id'])
                frame['typeId'].append(int(data['typeId']))
                frame['subtypeId'].append(int(data['subtypeId']))
                frame['advertiser'].append(str(data['advertiser']['alias']))
                frame['descriptions'].append(data['descriptions']['es-ES'])
                frame['rooms'].append(int(data['features'][0]['rooms']))
                frame['bathrooms'].append(int(data['features'][1]['bathrooms']))
                frame['surface'].append(int(data['features'][2]['surface']))
                frame['energy_certificate'].append(int(data['energyCertificate']))
                frame['antiquity'].append(int(data['features'][8]['antiquity']))
                frame['floor'].append(int(data['features'][9]['floor']))
                frame['surfaceland'].append(int(data['features'][10]['surfaceLand']))
                frame['region'].append(data['address']['location']['level1'])
                frame['province'].append(data['address']['location']['level2'])
                frame['city'].append(data['address']['location']['level5'])
                frame['latitude'].append(float(data['address']['coordinates']['latitude']))
                frame['longitude'].append(float(data['address']['coordinates']['longitude']))
                frame['zipcode'].append(int(data['address']['zipCode']))
                frame['price'].append(int(data['transactions'][0]['value'][0]))
                frame['date'].append(data['date'])
            else:
                pass
            
        except:
                frame['id'].append(np.nan)
                frame['typeId'].append(np.nan)
                frame['subtypeId'].append(np.nan)
                frame['advertiser'].append(np.nan)
                frame['descriptions'].append(np.nan)
                frame['rooms'].append(np.nan)
                frame['bathrooms'].append(np.nan)
                frame['surface'].append(np.nan)
                frame['energy_certificate'].append(np.nan)
                frame['antiquity'].append(np.nan)
                frame['floor'].append(np.nan)
                frame['surfaceland'].append(np.nan)
                frame['region'].append(np.nan)
                frame['province'].append(np.nan)
                frame['city'].append(np.nan)
                frame['latitude'].append(np.nan)
                frame['longitude'].append(np.nan)
                frame['zipcode'].append(np.nan)
                frame['price'].append(np.nan)
                frame['date'].append(np.nan)

In [ ]:
for index in range(data_ids.shape[0]):
    ids_prov = (data_ids.iloc[index, 1])
    
    frame = {'id': [],'typeId':[],'subtypeId': [],'date': [], 'advertiser': [],'descriptions': [], 
         'region': [],'province':[],'city': [],'zipcode': [],'latitude': [], 'longitude': [],
         'rooms': [], 'bathrooms': [],'surface':[],'energy_certificate': [],'antiquity': [],
         'floor': [], 'surfaceland': [], 'price': []}

    for i in tqdm(ids_prov):
        try:
            url = f'https://api.fotocasa.es/PropertySearch/Property?culture=es-ES&locale=es-ES&transactionType=1&periodicityId=0&id={i}'
            response = requests.get(url)
            if response.status_code == 200:
                data = response.json()
                if int(data['typeId']) == 2:
                    frame['id'].append(data['id'])
                    frame['typeId'].append(int(data['typeId']))
                    frame['subtypeId'].append(int(data['subtypeId']))
                    frame['advertiser'].append(data['advertiser']['alias'])
                    frame['rooms'].append(int(data['features'][0]['rooms']))
                    frame['bathrooms'].append(int(data['features'][1]['bathrooms']))
                    frame['surface'].append(int(data['features'][2]['surface']))
                    frame['energy_certificate'].append(int(data['energyCertificate']))
                    frame['antiquity'].append(int(data['features'][8]['antiquity']))
                    frame['floor'].append(int(data['features'][9]['floor']))
                    frame['surfaceland'].append(int(data['features'][10]['surfaceLand']))
                    frame['region'].append(data['address']['location']['level1'])
                    frame['province'].append(data['address']['location']['level2'])
                    frame['city'].append(data['address']['location']['level5'])
                    frame['latitude'].append(float(data['address']['coordinates']['latitude']))
                    frame['longitude'].append(float(data['address']['coordinates']['longitude']))
                    frame['zipcode'].append(data['address']['zipCode'])
                    frame['date'].append(data['date'])
                    frame['descriptions'].append(data['descriptions'])
                    if len(data['transactions']) > 0:
                        frame['price'].append(int(data['transactions'][0]['value'][0]))
                    else:
                        frame['price'].append(np.nan)                       
        except:
            pass
    try:
        df = pd.DataFrame(frame)
        filename = data_ids.iloc[index, 0]
        df.to_csv(filename +'.csv', index=False)
    except:
        pass

In [14]:
for index in range(data_ids.shape[0]):
    ids_prov = (data_ids.iloc[index, 1])
    
    frame = {'id': [],'typeId':[],'subtypeId': [],'date': [], 'advertiser': [],'descriptions': [], 
         'region': [],'province':[],'city': [],'zipcode': [],'latitude': [], 'longitude': [],
         'rooms': [], 'bathrooms': [],'surface':[],'energy_certificate': [],'antiquity': [],
         'floor': [], 'surfaceland': [], 'price': []}

    for i in tqdm(ids_prov):
        url = f'https://api.fotocasa.es/PropertySearch/Property?culture=es-ES&locale=es-ES&transactionType=1&periodicityId=0&id={i}'
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            if int(data['typeId']) == 2:
                frame['id'].append(data['id'])
                frame['typeId'].append(int(data['typeId']))
                frame['subtypeId'].append(int(data['subtypeId']))
                frame['advertiser'].append(data['advertiser']['alias'])
                frame['rooms'].append(int(data['features'][0]['rooms']))
                frame['bathrooms'].append(int(data['features'][1]['bathrooms']))
                frame['surface'].append(int(data['features'][2]['surface']))
                frame['energy_certificate'].append(int(data['energyCertificate']))
                frame['antiquity'].append(int(data['features'][8]['antiquity']))
                frame['floor'].append(int(data['features'][9]['floor']))
                frame['surfaceland'].append(int(data['features'][10]['surfaceLand']))
                frame['region'].append(data['address']['location']['level1'])
                frame['province'].append(data['address']['location']['level2'])
                frame['city'].append(data['address']['location']['level5'])
                frame['latitude'].append(float(data['address']['coordinates']['latitude']))
                frame['longitude'].append(float(data['address']['coordinates']['longitude']))
                frame['zipcode'].append(data['address']['zipCode'])
                frame['date'].append(data['date'])
                frame['descriptions'].append(data['descriptions'])
                if len(data['transactions']) > 0:
                    frame['price'].append(int(data['transactions'][0]['value'][0]))
                else:
                    frame['price'].append(np.nan)

100%|██████████| 4806/4806 [16:08<00:00,  4.96it/s]

In [15]:

df = pd.DataFrame(frame)
df.to_csv('valladolid.csv', index=False)